*.pyc
src/pwspy.egg-info/
docs/build/
installScripts/pyInstaller/build/
installScripts/pyInstaller/dist/
build/
tests/resources/Cell1/pwsmetadata.json
docs/source/generated/
.idea/workspace.xml
buildScripts/pyInstaller/dist/
.idea/
src/pwspy/_version
*.orig
